{% extends "fabric_interface/layouts/sidebar_double.html" %}

{% load i18n bootstrap3 %}

{% block title %}{{ title }}{% endblock %}

{% block sidebar_left %}
    <!-- panel/projects -->
    <div class="well well-sm">
        <ul class="nav nav-list">
            <li class="nav-header">{% trans "All projects" %}</li>
            {% for project in project_list %}
                <li class="{% if project.slug == object.slug %}active{% endif %}">
                    <a href="{% url 'project_detail' slug=project.slug %}">{{ project }}</a>
                </li>
            {% endfor %}
            {% if perms.projects.add_project %}
                <li class="action">
                    <a href="{% url 'project_create' %}">
                        <i class="glyphicon glyphicon-plus"></i> {% trans "Add project" %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    <!-- panel/hosts -->
    <div class="well well-sm">
        <ul class="nav nav-list">
            <li class="nav-header">{% trans "Available hosts" %}</li>
            {% for host in host_list %}
                <li><a href="{% url 'host_detail' slug=host.slug %}">{{ host }}</a></li>
            {% empty %}
                <li>{% trans "No hosts available." %}</li>
            {% endfor %}
            <li class="action"><a href="{% url 'host_create' %}"><i class="glyphicon glyphicon-plus"></i> {% trans "Add host" %}</a></li>
        </ul>
    </div>
    {% if request.user.is_superuser %}
        <!-- panel/users -->
        <div class="well well-sm">
            <ul class="nav nav-list">
                <li class="nav-header">{% trans "Users" %}</li>
                {% for user in user_list %}
                    <li><a href="{% url 'user_detail' pk=user.pk %}">{{ user }}</a></li>
                {% endfor %}
                <li class="action"><a href="{% url 'user_create' %}"><i class="glyphicon glyphicon-plus"></i> {% trans "Add user" %}</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <h4>{% trans "Delete project" %} '{{ project }}'</h4>
    <hr />
    <h3>Are you sure? There's no going back!</h3>
    <form method="post" role="form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% bootstrap_field field %}
            </div>
        {% endfor %}
        {% buttons %}
            <button type="submit" class="btn btn-danger">
                {% bootstrap_icon "remove" %} {{ title }}
            </button>
        {% endbuttons %}
    </form>
{% endblock %}