{% extends "fabric_interface/layouts/sidebar_double.html" %}

{% load i18n guardian_tags bootstrap3 %}

{% block title %}{{ title }}{% endblock %}

{% block sidebar_left %}
    {% block panel_projects %}
        {% include "fabric_interface/panels/panel_projects.html" with panel_label=_("All projects") %}
    {% endblock %}
    {% block panel_hosts %}
        {% include "fabric_interface/panels/panel_hosts.html" with panel_label=_("Available hosts") %}
    {% endblock %}
    {% block panel_users %}
        {% include "fabric_interface/panels/panel_users.html" with panel_label=_("Privileged users") %}
    {% endblock %}
{% endblock %}

{% block content %}
    <h4>{% trans "Project" %} '{{ project }}'</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">{{ object }} SLUG={{ object.slug }} STAGES={{ object.stage_set.all }}</div>
    </div>
{% endblock %}

{% block sidebar_right %}
    {% block panel_stages %}
        {% include "fabric_interface/panels/panel_stages.html" with panel_label=_("All stages") %}
    {% endblock %}
    {% block panel_actions %}
        {% include "fabric_interface/panels/panel_actions.html" with panel_label=_("Danger zone") %}
    {% endblock %}
{% endblock %}