{% extends "fabric_interface/layouts/sidebar_double.html" %}

{% load i18n guardian_tags bootstrap3 %}

{% block title %}{{ title }}{% endblock %}

{% block sidebar_left %}
    {% block panel_projects %}
        {% include "fabric_interface/panels/panel_projects.html" with panel_label=_("All projects") %}
    {% endblock %}
    {% block panel_hosts %}
        {% include "fabric_interface/panels/panel_hosts.html" with panel_label=_("All hosts") %}
    {% endblock %}
    {% block panel_users %}
        {% include "fabric_interface/panels/panel_users.html" with panel_label=_("All users") %}
    {% endblock %}
{% endblock %}

{% block content %}
    <h4>{% trans "Host" %} '{{ host }}'</h4>
    <hr />
    {{ host }} AVAILABLE_FOR={{ host.projects.all }}
{% endblock %}

{% block sidebar_right %}
    <!-- panel/danger_zone -->
    <div class="well well-sm">
        <ul class="nav nav-list">
            <li class="nav-header">{% trans "Danger Zone" %}</li>
            <li><a href="{% url 'host_update' slug=object.slug %}">{% trans "Edit" %}</a></li>
            <li><a href="{% url 'host_delete' slug=object.slug %}">{% trans "Delete" %}</a></li>
        </ul>
    </div>
{% endblock %}