{% extends "fabric_interface/layouts/sidebar_double.html" %}

{% load i18n guardian_tags bootstrap3 %}

{% block title %}{{ title }}{% endblock %}

{% block sidebar_left %}
    <!-- panel/projects -->
    <div class="well well-sm">
        <ul class="nav nav-list">
            <li class="nav-header">{% trans "All projects" %}</li>
            {% for project in project_list %}
                {% get_obj_perms request.user for project as "project_perms" %}
                {% if "view_project" in project_perms or perms.projects.view_project %}
                    <li class="{% if project.slug == object.slug %}active{% endif %}">
                        <a href="{% url 'project_detail' slug=project.slug %}">
                            {% if project in object.projects.all %}
                                <i class="glyphicon glyphicon-check"></i>
                            {% else %}
                                <i class="glyphicon glyphicon-unchecked"></i>
                            {% endif %} {{ project }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="action">
                <a href="{% url 'project_create' %}">
                    <i class="glyphicon glyphicon-plus"></i> {% trans "Add project" %}
                </a>
            </li>
        </ul>
    </div>
    <!-- panel/hosts -->
    <div class="well well-sm">
        <ul class="nav nav-list">
            <li class="nav-header">{% trans "All hosts" %}</li>
            {% for host in host_list %}
                {% get_obj_perms request.user for host as "host_perms" %}
                {% if "view_host" in project_perms or perms.hosts.view_host %}
                    <li class="{% if host.slug == object.slug %}active{% endif %}">
                        <a href="{% url 'host_detail' slug=host.slug %}">{{ host }}</a>
                    </li>
                {% endif %}            {% endfor %}
            <li class="action"><a href=""><i class="glyphicon glyphicon-plus"></i> {% trans "Add host" %}</a></li>
        </ul>
    </div>
    {% if request.user.is_superuser %}
        <!-- panel/users -->
        <div class="well well-sm">
            <ul class="nav nav-list">
                <li class="nav-header">{% trans "Users" %}</li>
                {% for user in user_list %}
                    <li><a href="{% url 'user_detail' pk=user.pk %}">{{ user }}</a></li>
                {% endfor %}
                <li class="action"><a href="{% url 'user_create' %}"><i class="glyphicon glyphicon-plus"></i> {% trans "Add user" %}</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <h4>{% trans "Delete host" %} '{{ host }}'</h4>
    <hr />
    <h3>Are you sure? There's no going back!</h3>
    <form method="post" role="form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% bootstrap_field field %}
            </div>
        {% endfor %}
        {% buttons %}
            <button type="submit" class="btn btn-danger">
                {% bootstrap_icon "remove" %} {{ title }}
            </button>
        {% endbuttons %}
    </form>
{% endblock %}