{% extends "fabric_interface/layouts/sidebar_double.html" %}

{% load i18n guardian_tags bootstrap3 %}

{% block title %}{{ title }}{% endblock %}

{% block sidebar_left %}
    {% block panel_projects %}
        {% include "fabric_interface/panels/panel_projects.html" with panel_label=_("All projects") %}
    {% endblock %}
    {% block panel_hosts %}
        {% include "fabric_interface/panels/panel_hosts.html" with panel_label=_("All hosts") %}
    {% endblock %}
    {% block panel_users %}
        {% include "fabric_interface/panels/panel_users.html" with panel_label=_("All users") %}
    {% endblock %}
{% endblock %}

{% block content %}
    <h4>{% if object %}{% trans "Edit host" %}{% else %}{% trans "Add host" %}{% endif %}</h4>
    <hr />
    <form method="post" role="form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% bootstrap_field field %}
            </div>
        {% endfor %}
        {% buttons %}
            <button type="submit" class="btn btn-default">
                {% if action == 'create' %}
                    {% bootstrap_icon "plus" %} {{ title }}
                {% else %}
                    {% bootstrap_icon "pencil" %} {{ title }}
                {% endif %}
            </button>
            {% if action != 'create' %}
                <a href="{% url 'host_delete' slug=object.slug %}" class="btn btn-danger pull-right">
                    {% bootstrap_icon "remove" %} {% trans "Delete" %}
                </a>
            {% endif %}
        {% endbuttons %}
    </form>
{% endblock %}