{% extends "fabric_interface/layouts/split_vertical.html" %}

{% load i18n bootstrap3 mptt_tags %}

{% block content %}
    <ul class="root">
        {% for tree in trees %}
            {% with tree.get_descendants as nodes %}
                <li><strong>{{ tree.family }}</strong></li>
                <li>{{ tree }}
                    <ul>
                        {% recursetree nodes %}
                            <li>
                                {{ node.formula.name }}
                                {% if not node.is_leaf_node %}
                                    <ul class="children">
                                        {{ children }}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endrecursetree %}
                    </ul>
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
{% endblock %}

{% block sidebar_right %}
    <h4>{% trans "Testing..." %}</h4>
    <hr />{{ form.media }}
    <form method="post" role="form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% bootstrap_field field %}
            </div>
        {% endfor %}
        {% buttons %}
            <button type="submit" class="btn btn-default">
                Submit
            </button>
        {% endbuttons %}
    </form>
{% endblock %}