{% extends "fabric_interface/base.html" %}

{% load i18n %}

{% block extracss %}{% endblock %}

{% block title %}{% endblock %}

{% block base_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {% block sidebar_left %}
                    {% block panel_projects %}
                        {% include "fabric_interface/panels/panel_projects.html" with panel_label=_("All projects") %}
                    {% endblock %}
                    {% block panel_hosts %}
                        {% include "fabric_interface/panels/panel_hosts.html" with panel_label=_("All hosts") %}
                    {% endblock %}
                    {% block panel_users %}
                        {% include "fabric_interface/panels/panel_users.html" with panel_label=_("All users") %}
                    {% endblock %}
                {% endblock %}
            </div>
            <div class="col-sm-9">
                {% include "fabric_interface/layouts/include/messages.html" %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}{% endblock %}