{% extends "fabric_interface/base.html" %}

{% load i18n %}

{% block extracss %}{% endblock %}

{% block title %}{% endblock %}

{% block base_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% include "fabric_interface/layouts/include/messages.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {% block content %}{% endblock %}
            </div>
            <div class="col-sm-6">
                {% block sidebar_right %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}{% endblock %}