{% load i18n guardian_tags utils %}

<!-- panel/danger_zone -->
<div class="well well-sm">
    <ul class="nav nav-list">
        <li class="nav-header">{% trans "Danger Zone" %}</li>
        {% get_obj_perms request.user for stage as "stage_perms" %}
        {% if "project_stage_change" in stage_perms or perms|contains:"change_stage" %}
            <li>
                <a href="{% url "project_stage_update" slug=object.project.slug role_slug=object.slug %}">
                    {% trans "Edit" %}
                </a>
            </li>
        {% endif %}
        {% if "project_stage_delete" in stage_perms or perms|contains:"delete_stage" %}
            <li>
                <a href="{% url "project_stage_delete" slug=object.project.slug role_slug=object.slug %}">
                    {% trans "Remove" %}
                </a>
            </li>
        {% endif %}
    </ul>
</div>