{% extends "fabric_interface/layouts/sidebar_double.html" %}

{% load i18n guardian_tags bootstrap3 %}

{% block title %}{{ title }}{% endblock %}

{% block sidebar_left %}
    {% block panel_projects %}
        {% include "fabric_interface/panels/panel_projects.html" with panel_label=_("All projects") %}
    {% endblock %}
    {% block panel_hosts %}
        {% include "fabric_interface/panels/panel_hosts.html" with panel_label=_("Available hosts") %}
    {% endblock %}
    {% block panel_users %}
        {% include "fabric_interface/panels/panel_users.html" with panel_label=_("Privileged users") %}
    {% endblock %}
{% endblock %}

{% block content %}
    <h4>{% trans "Stage" %} '{{ stage }}'</h4>
    <hr />
    {{ object }} HOSTS={{ object.hosts.all }}
{% endblock %}

{% block sidebar_right %}
    <!-- panel/stages -->
    <div class="well well-sm">
        <ul class="nav nav-list">
            <li class="nav-header">{% trans "Stages" %}</li>
            {% for stage in object.project.stage_set.all %}
                <li class="{% if stage.slug == object.slug %}active{% endif %}">
                    <a href="{% url 'project_stage_detail' slug=object.project.slug role_slug=stage.slug %}">{{ stage }}</a>
                </li>
            {% empty %}
                <li>No stages.</li>
            {% endfor %}
            <li class="action">
                <a href="{% url 'project_stage_create' slug=object.project.slug %}">
                    <i class="glyphicon glyphicon-plus"></i> {% trans "Add stage" %}
                </a>
            </li>
        </ul>
    </div>
    <!-- panel/danger_zone -->
    <div class="well well-sm">
        <ul class="nav nav-list">
            <li class="nav-header">{% trans "Danger Zone" %}</li>
            <li><a href="{% url 'project_stage_update' slug=object.project.slug role_slug=object.slug %}">{% trans "Edit" %}</a></li>
            <li><a href="{% url 'project_stage_delete' slug=object.project.slug role_slug=object.slug %}">{% trans "Delete" %}</a></li>
        </ul>
    </div>
{% endblock %}