{% extends "fabric_interface/layouts/sidebar_double.html" %}

{% load i18n bootstrap3 %}

{% block title %}{{ title }}{% endblock %}

{% block sidebar_left %}
    <!-- panel/projects -->
    <div class="well well-sm">
        <ul class="nav nav-list">
            <li class="nav-header">{% trans "All projects" %}</li>
            {% for project in project_list %}
                <li class="{% if project.slug == object.slug or project.slug == object.project.slug %}active{% endif %}">
                    <a href="{% url 'project_detail' slug=project.slug %}">{{ project }}</a>
                </li>
            {% endfor %}
            <li class="action">
                <a href="{% url 'project_create' %}">
                    <i class="glyphicon glyphicon-plus"></i> {% trans "Add project" %}
                </a>
            </li>
        </ul>
    </div>
    <!-- panel/hosts -->
    <div class="well well-sm">
        <ul class="nav nav-list">
            <li class="nav-header">{% trans "Hosts" %}</li>
            {% for host in host_list %}
                <li>
                    <a href="{% url 'host_detail' slug=host.slug %}">
                        {% if host in object.hosts.all %}
                            <i class="glyphicon glyphicon-check"></i>
                        {% else %}
                            <i class="glyphicon glyphicon-unchecked"></i>
                        {% endif %} {{ host }}
                    </a>
                </li>
            {% empty %}
                <li>{% trans "No hosts available." %}</li>
            {% endfor %}
            <li class="action"><a href="{% url 'host_create' %}"><i class="glyphicon glyphicon-plus"></i> {% trans "Add host" %}</a></li>
        </ul>
    </div>
    {% if user.is_staff %}
        <!-- panel/users -->
        <div class="well well-sm">
            <ul class="nav nav-list">
                <li class="nav-header">{% trans "Users" %}</li>
                {% for user in user_list %}
                    <li><a href="{% url 'user_detail' pk=user.pk %}">{{ user }}</a></li>
                {% endfor %}
                <li class="action"><a href="{% url 'user_create' %}"><i class="glyphicon glyphicon-plus"></i> {% trans "Add user" %}</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <h4>{% trans "Stage" %} '{{ stage }}'</h4>
    <hr />
    {{ object }} HOSTS={{ object.hosts.all }}
{% endblock %}

{% block sidebar_right %}
    <!-- panel/stages -->
    <div class="well well-sm">
        <ul class="nav nav-list">
            <li class="nav-header">{% trans "Stages" %}</li>
            {% for stage in object.project.stage_set.all %}
                <li class="{% if stage.slug == object.slug %}active{% endif %}">
                    <a href="{% url 'project_stage_detail' slug=object.project.slug role_slug=stage.slug %}">{{ stage }}</a>
                </li>
            {% empty %}
                <li>No stages.</li>
            {% endfor %}
            <li class="action">
                <a href="{% url 'project_stage_create' slug=object.project.slug %}">
                    <i class="glyphicon glyphicon-plus"></i> {% trans "Add stage" %}
                </a>
            </li>
        </ul>
    </div>
    <!-- panel/danger_zone -->
    <div class="well well-sm">
        <ul class="nav nav-list">
            <li class="nav-header">{% trans "Danger Zone" %}</li>
            <li><a href="{% url 'project_stage_update' slug=object.project.slug role_slug=object.slug %}">{% trans "Edit" %}</a></li>
            <li><a href="{% url 'project_stage_delete' slug=object.project.slug role_slug=object.slug %}">{% trans "Delete" %}</a></li>
        </ul>
    </div>
{% endblock %}