{% extends "fabric_interface/layouts/sidebar_left.html" %}

{% load i18n guardian_tags bootstrap3 %}

{% block title %}{{ title }}{% endblock %}

{% block sidebar_left %}
    {% block panel_projects %}
        {% include "fabric_interface/panels/panel_projects.html" with panel_label=_("All projects") %}
    {% endblock %}
    {% block panel_hosts %}
        {% include "fabric_interface/panels/panel_hosts.html" with panel_label=_("All hosts") %}
    {% endblock %}
    {% block panel_users %}
        {% include "fabric_interface/panels/panel_users.html" with panel_label=_("All users") %}
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>{% trans "Fabric Interface" %}</h1>
        <p>{% trans "DTAP deployments made easy." %}</p>
    </div>
    <form action="/i18n/setlang/" method="post" role="form">
        {% csrf_token %}
        <div class="form-group">
            <div class="form-group">
                <label>Language</label>
                <select class="form-control" id="id_language" name="language" required="required">
                    {% for lang in LANGUAGES %}
                        <option value="{{ lang.0 }}">{{ lang.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% buttons %}
            <button type="submit" class="btn btn-default">
                {% trans "Submit" %}
            </button>
        {% endbuttons %}
    </form>
{% endblock %}