{% load i18n %}

<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Fabric Interface</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'test' %}">
                        {% trans "Playground" %}
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="http://fabric-interface.readthedocs.org/en/latest/" target="_blank">
                        {% trans "Documentation" %}
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ LANGUAGE }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu change-language" data-csrf="{{ csrf_token }}">
                        {% for CODE, NAME in LANGUAGES %}
                            {% ifnotequal CODE LANGUAGE_CODE %}
                                <li><a data-code="{{ CODE }}">{{ NAME }}</a></li>
                            {% endifnotequal %}
                        {% endfor %}
                    </ul>
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ user.get_full_name }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">{% trans "Edit profile" %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="#">{% trans "Apply for account" %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>